@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Lato:wght@400;700&display=swap');

/*Zerando o css - tirando as porpiedades do navegdaor*/

/* asterisco pegando todos os itens do projeto*/

*{ 
    margin: 0;
    padding: 0;
    box-align: border-box;

}

/* Arrumando o fundo da tela*/

html{

    width: 100vw;
    height: 100vh;

    /* preeenche a tela toda */

    font-size: 62.5%; /*pratica responsiva pra usar o ren*/ 
    color: white;
    font-family: 'Lato', sans-serif;

}

/*personaliza o fundo da tela com gradiente, vinheta*/

body{

    background: linear-gradient(rgba(17, 17, 17, 0.8), rgba(20, 20, 20, 1)), url(./img/Fundo.jpg);
    background-position: center center;
    background-size: cover;
    background-position-y: 0px;
    background-repeat: no-repeat;

}

/*menu - header - NavBar*/

header{

    width: 100%;
    height: 7vh; /*7 vh vai ser destinado ao cabeçario*/
    background: rgba(22, 22, 22, 0.2) ;
}

.menu-content{

    text-transform: uppercase;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.8rem;
}

.logo{

    font-size: 1.8rem;
    letter-spacing: 0.4rem; /* deixa espaçamento entre as letras*/
    cursor: pointer; /*passo o mause em cima aparece a mãozinha*/
}

.menu-content .List-items{

    display: flex;
    list-style: none; /*tira a bolinha branca da lista de itens*/
    gap: 20px;  /*distanciamneto de 20 itens entre eles*/
}

.menu-content .List-items a{

    text-decoration: none; /*tira o sublinhado de baixo dos itens do menu*/
    color: white;
    padding: 1.5rem; /*aumenta a area de contato, passa o mause perto ele ja aparece a maozinha*/
    transform: 2ms ease-in ; /*cria efeito em baixo das opções do menu*/
    position: relative;
    font-size: 1rem;

}

.menu-content .List-items a:before{

    content: ' ';
    position: absolute; /*tem que ser absolute nesse caso*/
    bottom: 0;
    left: 0;
    width: 0px;
    height: 1px;
    background-color: rgb(251, 255, 0);
    transition: all 1.5s ease;
    
}

/*PASSOU O MOUSE ELE VAI PASSAR A TIRINHA AMARELA*/

.menu-content .List-items a:hover:before{

    width: 100%;

}

/*Centro - Conteúdo Principal */

main{

    height: 93vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*Textos conteudo principais*/

.primary-text{

    width: 700px;
    font-size: 4rem;
    margin-bottom: 2rem;
    text-align: center;
}

.second-text{

    margin-bottom: 7rem;
    font-size: 2rem;
    color: gray ;
    text-transform: uppercase;

}

/*botões*/

.btns{

    display: flex;
    justify-content: center;
    gap: 20px;
}
.btns button{

    width: 200px;
    height: 60px;
    cursor: pointer;
    border: 1px solid white;
    color: white;
    text-transform: uppercase;
    background-color: transparent;
    font-weight: bold;
    letter-spacing: 0.2rem;
    position: relative;
    border-radius: 20px;
    transition: 1.5s;
    font-size: 1.2rem;
}

.btns button:before{

    content: ' ';
    bottom: 0;
    left: 0;
    position: absolute;
    width: 0;
    height: 60px;
    background-color: grey;
    z-index: -1; /*aparece o texto com o cinza atrás em fade*/
    transition: 1s;
    border-radius: 20px;

}

.btns button:hover{

    color:  rgb(251, 255, 0);
    border: none;
}

.btns button:hover:before{

    width: 100%;  
}


